// main colors
$main-first-color: #5FBE3F;
$main-second-color: green;
$main-third-color: blue;

// colors
$title-color: #444444;
$text-color: #111111;
$input-placeholder-color: #aaa;

// fonts
$font-family-base: 'Rubik', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$enable-shadows: false;
$primary: $main-first-color;
$body-color: $text-color;

$gray-700: #787A80;
$gray-900: #1E212C;

$grid-breakpoints: (
        xs: 0,
        sm: 540px,
        md: 768px,
        lg: 960px,
        xl: 1260px
);

$container-max-widths: (
        sm: 540px,
        md: 768px,
        lg: 960px,
        xl: 1260px
);