/*************************************************
********************* CONTENT ********************
*************************************************/
.open-menu {
  overflow: hidden;

  .content {
    opacity: .5;
    transition-delay: 0s;
  }
}

.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  width: 100%;
  min-width: 320px;
  @include transition($transition-base);
  transition-delay: .3s;
}

.section-head {
  padding: 84px 0 0;
  background: radial-gradient(83.15% 154.4% at 10% 13.52%, #141414 0%, #232441 56.38%, #292A2D 100%);
}

.main-title {
  position: relative;
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 0 25px;

  &__link {
    opacity: .6;
    color: $white;

    &:not(:last-child) {
      margin-right: 13px;

      &::after {
        content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDcgMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC41MjkyNDcgMC4zMzAwMjhDMC43ODk1OTYgMC4wNjk2NzgyIDEuMjExNzEgMC4wNjk2NzgyIDEuNDcyMDYgMC4zMzAwMjhMNi4xMzg3MiA0Ljk5NjY5QzYuMzk5MDcgNS4yNTcwNCA2LjM5OTA3IDUuNjc5MTUgNi4xMzg3MiA1LjkzOTVMMS40NzIwNiAxMC42MDYyQzEuMjExNzEgMTAuODY2NSAwLjc4OTU5NiAxMC44NjY1IDAuNTI5MjQ3IDEwLjYwNjJDMC4yNjg4OTcgMTAuMzQ1OCAwLjI2ODg5NyA5LjkyMzcxIDAuNTI5MjQ3IDkuNjYzMzZMNC43MjQ1MSA1LjQ2ODFMMC41MjkyNDcgMS4yNzI4NEMwLjI2ODg5NyAxLjAxMjQ5IDAuMjY4ODk3IDAuNTkwMzc3IDAuNTI5MjQ3IDAuMzMwMDI4WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
        display: inline-block;
        margin-left: 13px;
      }
    }
    &:not(a) {
      cursor: default;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.head-content {
  &__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }
  &__text {
    max-width: 575px;
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 1.5;
    white-space: pre-line;
  }
  &__pic {
    img {
      display: block;
      width: 100%;
      max-width: 308px;
      margin: 0 -40px -40px auto;
    }
  }
}

.statistic {
  display: none;
  margin-top: 50px;

  &__counter {
    font-size: 52px;
    font-weight: 700;
  }
  &__text {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.01em;
  }
}

.section-service {
  margin: 0 0 46px;
  padding: 34px 0 0;
}

.service {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__pic {
    display: block;
    &_sm {
      max-width: 780px;
      margin: 0 auto;
    }
    img {
      display: block;
      width: 100%;
      max-width: 320px;
      margin: 0 auto 18px;
    }
  }

  &-info {
    margin: 0 auto;
    &__title {
      margin-bottom: 1rem;
      color: $title-color;
      font-size: 32px;
      font-weight: 700;
    }
    &__text {
      margin-bottom: 1.5rem;
      color: $gray-700;
      line-height: 1.5;
    }
  }
}

.section-benefits {
  margin-bottom: 48px;
}

.benefits-info {
  max-width: 390px;
  margin: 0 auto 20px;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  padding: 40px 10px;
  text-align: center;
  @include transition($transition-base);
  &:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  }

  &__ico {
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.5rem;
    color: $gray-900;
    font-size: 20px;
    font-weight: 900;
  }

  &__text {
    margin: 0;
    padding: 0 3rem;
    color: $gray-700;
    font-size: 14px;
  }

  &__pic {
    img {
      display: block;
      width: 100%;
    }
  }
}

.section-reviews {
  margin-bottom: 140px;
}

.reviews {
  position: relative;

  &__pic {
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      object-fit: contain;
      object-position: center;
    }
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1391px;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &__dotted {
    position: absolute;
    top: 0;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 5px solid #FAFFE8;
    border-radius: 100px;
    background: #5FBE3F;
    transform: scale(1);

    @for $i from 0 through 25 {
      &:nth-child(#{$i}) {
        transition-duration: #{$i * 2}00ms;
      }
    }

    &.hide {
      transform: scale(0);
    }
    &.active {
      transform: scale(1.3);

      &:before, &::after {
        background: #ffffff;
        transform: translate(-50%, -50%) rotate(135deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(225deg);
      }
    }
    &:before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 1px;
      background: transparent;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      transition: all .3s ease 0s;
    }
  }

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 890px;
    padding: 50px 60px 35px;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .12);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
    @include transition($transition-base);
    z-index: 1;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__text {
    &:before, &::after {
      content: '"';
    }
  }

  &__author {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-photo {
      margin-right: 20px;

      img {
        width: 73px;
        height: 73px;
        border-radius: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
      }
    }
    &-name {
      margin-bottom: 6px;
      color: $gray-900;
      font-weight: 700;
    }
    &-text {
      color: $primary;
      font-size: 14px;
    }
  }

  &__link {
    position: absolute;
    right: -15px;
    bottom: -20px;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background: $main-first-color;
    padding: 16px 0;
    text-align: center;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.reviews-slider {
  overflow: visible;

  .reviews {
    &__box {
      position: static;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      max-width: none;
      padding: 40px 34px 46px;
      background: none;
      border: 1px solid #E5E8ED;
      border-radius: 4px;
      box-shadow: none;
      opacity: 1;
      visibility: visible;
      transform: none;
      text-align: center;
    }

    &__text {
      color: $gray-700;
      font-size: 14px;
      line-height: 21px;
    }

    &__author {
      flex-direction: column;

      &-photo {
        margin: 0 0 8px
      }
      &-name {

      }
      &-text {
        color: $gray-700;
      }
    }
  }

  .swiper {
    &-slide {
      opacity: 0;
      visibility: hidden;
      @include transition($transition-base);

      &-active {
        opacity: 1;
        visibility: visible;
      }
    }

    &-button {
      &-prev, &-next {
        width: 45px;
        height: 45px;
        margin: 0;
        background: $primary;
        border: 1px solid #E6E9EC;
        border-radius: 100px;
        box-shadow: 0 10px 50px rgba(13, 38, 59, 0.1);
        transform: translateY(-50%);

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 12px;
          transform: translate(-50%, -50%);
        }
      }
      &-prev {
        left: -14px;
      }
      &-next {
        right: -14px;
      }
    }
  }
}

.section-subscription {
  background: radial-gradient(83.15% 154.4% at 10% 13.52%, #141414 0%, #232441 56.38%, #292A2D 100%);
}

.subscribe {
  padding: 35px 22px 30px;
  background: #5FBE3F;
  transform: translateY(-28px);

  &__form {
    input {
      &::-webkit-input-placeholder {
        color: $white;
      }
      &::-moz-placeholder {
        color: $white;
      }
      &::-ms-placeholder {
        color: $white;
      }
    }
  }
}

.section-advantages {
  margin-bottom: 148px;
}

.advantages {
  &-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;

    &__box {
      margin-bottom: 40px;
      padding: 20px 15px;
      border: 1px solid #e5e8ed;
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__title {
      margin-bottom: 8px;
      color: $gray-900;
      font-size: 21px;
      font-weight: bold;
    }

    &__text {
      margin: 0;
      color: $gray-700;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__pic {
    display: block;
    margin-bottom: 40px;

    img {
      display: block;
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }
  }
}

.section-contacts {
  margin: 60px 0;
}

.contacts {
  margin-top: 60px;

  &__box {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  &__ico {
    flex: 0 1 auto;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 100%;
    background: rgba(95, 190, 63, .07);

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__info {
    flex: 0 1 auto;
  }

  &__name {
    margin-bottom: 10px;
    color: #0d263b;
    font-weight: 700;
  }

  &__text {
    color: #696969;
    font-size: 14px;
    line-height: 30px;

    a {
      color: #696969;

      &:hover {
        color: $black;
      }
    }
  }

  &__address {
    color: $gray-700;
    line-height: 28px;
  }
}

.section-map {
  margin-bottom: 80px;
}

#map {
  height: 550px;
}

.section-feedback {
  margin-bottom: 60px;
}

.feedback {
  max-width: 1094px;
  padding-top: 40px;
  margin: 0 auto;

  .placeholder {
    position: absolute;
    top: 8px;
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    @include transition($transition-base);

    &.active {
      top: -14px;
      font-size: 13px;
      font-style: italic;
    }
  }

  .form-control {
    border-bottom: 2px solid #e6e9ec;
    box-shadow: none !important;

    &:focus {
      border-color: $primary;
    }
  }

  input {
    &::-webkit-input-placeholder {
      color: #696969;
      font-size: 14px;
    }
    &::-moz-placeholder {
      color: #696969;
      font-size: 14px;
    }
    &::-ms-placeholder {
      color: #696969;
      font-size: 14px;
    }
  }

  textarea {
    min-height: 200px;
    max-height: 350px;

    &::placeholder {
      color: #696969;
      font-size: 14px;
      font-weight: 400;
    }
    &::-webkit-textarea-placeholder {
      color: #696969;
      font-size: 14px;
      font-weight: 400;
    }
    &::-moz-placeholder {
      color: #696969;
      font-size: 14px;
      font-weight: 400;
    }
    &::-ms-placeholder {
      color: #696969;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.section-cases {
  padding: 80px 0 30px;
}

.cases {
  &__wrap {
    margin: 0 0 50px;
  }

  .card {
    max-width: 370px;
    height: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, .12);
    overflow: hidden;

    &-img {
      &-top {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-body {
      padding: 20px 24px;
    }

    &-title {
      margin-bottom: 8px;
      color: #3B3B3B;
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;

      a {
        color: #3B3B3B;
      }
    }

    &-text {
      margin: 0;
      color: #494949;
      line-height: 28px;
    }
  }
}

.section-case {
  padding: 46px 0 150px;
}

.sidebar {
  width: 100%;
  max-width: 390px;

  &__box {
    padding: 28px 30px;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, .12);
    background: $white;
    &:not(:last-child) {
      margin: 0 0 50px;
    }

    &-title {
      margin: 0 0 16px;
      color: #0d263b;
      font-size: 22px;
      font-weight: bold;
      line-height: 30px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin: 0;
    padding: 0;

    &-item {
      &:not(:last-child) {
        margin: 0 0 24px;
      }
    }

    &-link {
      display: block;
      border: 1px solid #D5D5D6;
      border-radius: 10px;
      padding: 17px 30px;
      color: $gray-700;
      line-height: 26px;

      &:hover {
        border-color: $primary;
        color: $white;
        background: $primary;
      }

      &.active {
        border-color: $primary;
        color: $white;
        background: $primary;
      }
    }
  }
}

.case-content {
  &__pic {
    display: block;
    margin: 0 0 50px;

    img {
      width: 100%;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }
  }

  &__title {
    margin: 0 0 12px;
    color: #0d263b;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
  }

  &__box {
    max-width: 730px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-name {
      margin-bottom: 4px;
      color: #0d263b;
      font-size: 18px;
      font-weight: bold;
      line-height: 32px;
    }

    &-text {
      margin: 0;
      color: $gray-700;
      font-size: 17px;
      line-height: 32px;
    }
  }
}

.section-login {
  padding: 80px 0;
}

.login {
  &__form {
    max-width: 490px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 12px;
    color: $gray-900;
    font-size: 46px;
    font-weight: bold;
    line-height: 60px;
  }

  &__subtitle {
    margin-bottom: 30px;
    color: $gray-700;
    font-size: 18px;
    line-height: 28px;
  }

  &__group {
    margin: 0 0 18px;

    &:not(:last-of-type) {
      margin-bottom: 35px;
    }
  }

  &__placeholder {
    display: inline-block;
    margin-bottom: 10px;
    color: $gray-800;
    font-size: 18px;
  }

  &__input {
    &.form-control {
      border: 1px solid $gray-400;
      border-radius: 4px;
      padding: 13px 16px !important;
      background: $gray-200;
    }
  }

  &__link {
    color: $gray-700;
    font-size: 18px;
    line-height: 28px;
  }

  .form-group {
    display: block;
  }

  .btn {

  }
}