/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
}

.footer-content {
  padding: 70px 0 50px;

  .logo {
    img {
      width: 136px;
      height: 41px;
    }
  }

  &__text {
    color: $gray-700;
    line-height: 25px;

    a {
      color: inherit;

      &:hover {
        color: $black;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 20px 0;
    padding: 0;

    li {
      font-size: 18px;
      line-height: 35px;
    }

    a {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 0;
        height: 1px;
        background: $primary;
        @include transition($transition-base);
      }

      &:hover {
        color: $primary;

        &:after {
          left: 0;
          width: 100%;
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-link {
      opacity: .6;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        opacity: 1;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.copyright {
  margin: 0;
  padding: 16px 0;
  color: $white;
  font-size: 15px;
  text-align: center;
  background: $primary;
}