<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">


            <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo.svg') %>" alt="logo" title="logo">
                    </picture>
                </a>
                <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Главная <span class="sr-only">(текущая)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Функции</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Цены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отключенный</a>
                        </li>
                    </ul>
                </div>
            </nav>-->
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-head">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </section>

        <!--<div class="section">
            <div class="container">
                <h2>Section Slider</h2>

                <div class="main-slider swiper-container">
                    <div class="swiper-wrapper">
                        &lt;!&ndash; Slides &ndash;&gt;
                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    &lt;!&ndash;<div class="swiper-scrollbar"></div>&ndash;&gt;
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h2>Section Pictures</h2>
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="loader" title="loader">
                </picture>

                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-ok"></use>
                </svg>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h2>Section Range slider</h2>

                <div class="slider-range"><input type="range" value="75" min="1" max="100"></div>
                <div class="slider-range"><input type="range" value="275" max="1000"></div>
                <div class="slider-range"><input type="range"></div>

                <br>

                <div class="slider-handles"><input type="range" min="2000" max="10000"></div>
                <div class="slider-handles"><input type="range" max="1000"></div>
                <div class="slider-handles"><input type="range"></div>
            </div>
        </div>-->
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container bg-info">
            <h3 class="m-0">Footer Title</h3>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
