<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header position-absolute">
        <div class="container text-light">
            <div class="header-content">
                <a href="/" class="logo order-1 order-lg-0">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo.svg') %>" alt="logo" title="logo">
                    </picture>
                </a>

                <button class="burger-btn order-0 order-lg-1">
                    <span class="burger-btn__line"></span>
                </button>

                <div id="main_nav" class="header-content__menu order-2">
                    <div class="header-content__menu-head d-lg-none">
                        <a href="/" class="logo">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo.svg') %>" alt="logo" title="logo">
                            </picture>
                        </a>

                        <button class="burger-btn">
                            <span class="burger-btn__line"></span>
                        </button>
                    </div>

                    <nav class="header-content__menu-list">
                        <a href="technology.html" class="header-content__menu-link">Technology</a>
                        <a href="info-page.html" class="header-content__menu-link">Why HyperC?</a>
                        <a href="contacts.html" class="header-content__menu-link">Contact us</a>
                        <a href="cases.html" class="header-content__menu-link">User Cases</a>
                        <a href="#4" class="header-content__menu-link">User Portal</a>
                        <a href="#5" class="header-content__menu-link d-lg-none">Privacy Policy</a>
                        <a href="#6" class="header-content__menu-link d-lg-none">Terms</a>
                    </nav>

                    <a href="#0" class="btn btn-primary my-3 my-lg-0">Request a demo</a>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-head">
            <div class="container text-light">
                <div class="row head-content">
                    <div class="col-lg-7">
                        <h1 class="main-title"><span class="text-primary">AI</span> for business efficiency</h1>
                        <h3 class="head-content__subtitle">good for <span class="text-primary">your company</span>, good for <span class="text-primary">the planet</span>.</h3>
                        <p class="head-content__text">When FP&A is in control, it leads to operational efficiency, profitability and sustainability of business. With HyperC
                            technology, your FP&A team can build predictive operational models, control financial performance, increase business efficiency, and reduce waste.

                            <b>This is our way to help the planet.</b></p>
                        <a href="#" class="btn btn-lg btn-primary">Request a demo</a>
                    </div>
                    <div class="col-lg-5 ml-lg-n5">
                        <picture class="head-content__pic ml-lg-n5">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/earth-all.svg') %>" alt="" title="">
                        </picture>
                    </div>
                </div>

                <div class="row statistic">
                    <div class="col">
                        <span class="statistic__counter" data-count="100">0</span>
                        <p class="statistic__text">Times easier</p>
                    </div>

                    <div class="col">
                        <span class="statistic__counter" data-count="10">0</span>
                        <p class="statistic__text">Times bigger scope</p>
                    </div>

                    <div class="col">
                        <span class="statistic__counter" data-count="10">0</span>
                        <p class="statistic__text">Hours to proficiency </p>
                    </div>

                    <div class="col">
                        <span class="statistic__counter" data-count="0">0</span>
                        <p class="statistic__text">No programming needed</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-service">
            <div class="container">
                <div class="service row align-items-center">
                    <div class="col-lg-6">
                        <picture class="service__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/analytic.svg') %>" alt="analytic" title="analytic">
                        </picture>
                    </div>
                    <div class="col-lg-6">
                        <div class="service-info">
                            <h3 class="service-info__title"><span class="text-primary">Calculate</span> Presise Targets</h3>
                            <p class="service-info__text">Your targets are interconnected. By modeling the actual operations you get the full insight into efficiency and
                                performance and can immediately see the next optimization step.</p>
                            <div class="row">
                                <div class="col">
                                    <a href="#demo" class="btn btn-lg btn-primary mr-2 mb-2 mr-lg-4 mb-sm-0">Request a demo</a>
                                    <a href="#more" class="btn btn-outline-primary mb-2 mb-sm-0">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service row align-items-center">
                    <div class="col-lg-6 order-0 order-lg-1">
                        <picture class="service__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/amico.svg') %>" alt="team" title="team">
                        </picture>
                    </div>

                    <div class="col-lg-6">
                        <div class="service-info">
                            <h3 class="service-info__title"><span class="text-primary">Simplify Planning</span> for<br>Your Business Units</h3>
                            <p class="service-info__text">Business planning is never easy and requires each business leader to accumulate, analyze and make sense of a lot of data.
                                HyperС empowers FP&A to simplify business modeling, financial planning, and data entry for your business managers. Provide your lines of business
                                with smart metrics and targets calculated by the operational model based on the actual business rules.</p>
                            <div class="row">
                                <div class="col">
                                    <a href="#demo" class="btn btn-lg btn-primary mr-2 mb-2 mr-lg-4 mb-sm-0">Request a demo</a>
                                    <a href="#more" class="btn btn-outline-primary mb-2 mb-sm-0">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service row align-items-center">
                    <div class="col-lg-6">
                        <picture class="service__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/pana.svg') %>" alt="feature" title="feature">
                        </picture>
                    </div>

                    <div class="col-lg-6">
                        <div class="service-info">
                            <h3 class="service-info__title">Gain Deep Insights<br><span class="text-primary">into Operations</span></h3>
                            <p class="service-info__text">Explore efficiency of workforce allocation in sales and line of business, marketing budget decisions, inventory management
                                and supply chain operations. HyperC models are as easy as Excel and generate reports you can explore down to a single decision step.</p>
                            <div class="row">
                                <div class="col">
                                    <a href="#demo" class="btn btn-lg btn-primary mr-2 mb-2 mr-lg-4 mb-sm-0">Request a demo</a>
                                    <a href="#more" class="btn btn-outline-primary mb-2 mb-sm-0">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-benefits">
            <div class="container">
                <h2 class="section-title mb-4 mb-lg-5 text-center">Our benefits</h2>

                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="benefits-info px-xl-5">
                            <svg class="benefits-info__ico">
                                <use xlink:href="img/spritemap.svg#sprite-planning"></use>
                            </svg>
                            <h4 class="benefits-info__title">Accurate Planning</h4>
                            <p class="benefits-info__text">HyperC transforms your data and business rules into predictive models</p>
                        </div>

                        <div class="benefits-info px-xl-5">
                            <svg class="benefits-info__ico">
                                <use xlink:href="img/spritemap.svg#sprite-team"></use>
                            </svg>
                            <h4 class="benefits-info__title">Transparent Execution</h4>
                            <p class="benefits-info__text">You can instantly detect a discrepancy in the actual results against the model</p>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block p-0">
                        <picture class="benefits-info__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/rafiki.svg') %>" alt="benefits" title="benefits">
                        </picture>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="benefits-info px-xl-5">
                            <svg class="benefits-info__ico">
                                <use xlink:href="img/spritemap.svg#sprite-chat"></use>
                            </svg>
                            <h4 class="benefits-info__title">Predictable Results</h4>
                            <p class="benefits-info__text">You know what to expect and can assess various “what if” scenarios</p>
                        </div>

                        <div class="benefits-info px-xl-5">
                            <svg class="benefits-info__ico">
                                <use xlink:href="img/spritemap.svg#sprite-watch"></use>
                            </svg>
                            <h4 class="benefits-info__title">Controlled Maneuvers</h4>
                            <p class="benefits-info__text">You are always in control and steer your business in the changing conditions</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-reviews">
            <h2 class="section-title mb-4 mb-lg-5 text-center">Industry Leaders</h2>

            <div class="reviews d-none d-lg-block">
                <picture class="reviews__pic">
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/map.png') %>" alt="map-review" title="map-review">
                </picture>

                <div class="reviews__wrapper">
                    <div class="container-fluid position-relative h-100">
                        <div class="reviews__box">
                            <div class="reviews__body">
                                <p class="reviews__text mb-4">Message</p>

                                <div class="reviews__author">
                                    <picture class="reviews__author-photo">
                                        <img src="<%= require('./img/default.svg') %>" alt="author" title="author">
                                    </picture>

                                    <div class="reviews__author-info">
                                        <div class="reviews__author-name">Author Name</div>
                                        <div class="reviews__author-text">text</div>
                                    </div>
                                </div>

                                <a href="#review" class="reviews__link">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-arrow-r"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="35"
                                data-y="3"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="13.6"
                                data-y="10"
                                data-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, beatae, blanditiis dolore excepturi facilis libero, maiores maxime nisi nostrum quibusdam sapiente sint ullam vel voluptatem!"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Sarah Marple"
                                data-author-text="Boss @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="17"
                                data-y="19"
                                data-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, beatae, blanditiis dolore excepturi facilis libero, maiores maxime nisi nostrum quibusdam sapiente sint ullam vel voluptatem!"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Sarah Marple"
                                data-author-text="Boss @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="10"
                                data-y="30"
                                data-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, beatae, blanditiis dolore excepturi facilis libero, maiores maxime nisi nostrum quibusdam sapiente sint ullam vel voluptatem!"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Sarah Marple"
                                data-author-text="Boss @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="47"
                                data-y="12"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="51"
                                data-y="11"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="55"
                                data-y="12"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="59.5"
                                data-y="11.5"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="51.5"
                                data-y="17"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="62"
                                data-y="19"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="42"
                                data-y="27"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="45"
                                data-y="22"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="48.2"
                                data-y="20"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="51"
                                data-y="23"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="53.5"
                                data-y="28"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="75"
                                data-y="25"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="66"
                                data-y="34"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="58"
                                data-y="39"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="77"
                                data-y="58"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="95"
                                data-y="62"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>

                        <button
                                type="button"
                                class="reviews__dotted hide"
                                data-x="88"
                                data-y="76"
                                data-text="I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍"
                                data-img="<%= require('./img/author-review.png') %>"
                                data-author-name="Manish Balakrishnan"
                                data-author-text="Founder @ No Code Journalname">

                        </button>
                    </div>
                </div>
            </div>

            <div class="container d-lg-none">
                <div class="row">
                    <div class="col-12">
                        <div class="reviews-slider swiper-container">
                            <!--Slides-->
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="reviews__box">
                                        <div class="reviews__body">
                                            <p class="reviews__text mb-4">I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍</p>

                                            <div class="reviews__author">
                                                <picture class="reviews__author-photo">
                                                    <img src="img/author-review.png" alt="author" title="author">
                                                </picture>

                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">Manish Balakrishnan</div>
                                                    <div class="reviews__author-text">Founder @ No Code Journalname</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="reviews__box">
                                        <div class="reviews__body">
                                            <p class="reviews__text mb-4">I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍</p>

                                            <div class="reviews__author">
                                                <picture class="reviews__author-photo">
                                                    <img src="img/author-review.png" alt="author" title="author">
                                                </picture>

                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">Manish Balakrishnan</div>
                                                    <div class="reviews__author-text">Founder @ No Code Journalname</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="reviews__box">
                                        <div class="reviews__body">
                                            <p class="reviews__text mb-4">I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍</p>

                                            <div class="reviews__author">
                                                <picture class="reviews__author-photo">
                                                    <img src="img/author-review.png" alt="author" title="author">
                                                </picture>

                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">Manish Balakrishnan</div>
                                                    <div class="reviews__author-text">Founder @ No Code Journalname</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="reviews__box">
                                        <div class="reviews__body">
                                            <p class="reviews__text mb-4">I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍</p>

                                            <div class="reviews__author">
                                                <picture class="reviews__author-photo">
                                                    <img src="img/author-review.png" alt="author" title="author">
                                                </picture>

                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">Manish Balakrishnan</div>
                                                    <div class="reviews__author-text">Founder @ No Code Journalname</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="reviews__box">
                                        <div class="reviews__body">
                                            <p class="reviews__text mb-4">I’ve been in the space of software development and no code approaches for a long time now and have never seen anything like this! Amazing! This is by far the most superior low code technology I have ever seen.‍</p>

                                            <div class="reviews__author">
                                                <picture class="reviews__author-photo">
                                                    <img src="img/author-review.png" alt="author" title="author">
                                                </picture>

                                                <div class="reviews__author-info">
                                                    <div class="reviews__author-name">Manish Balakrishnan</div>
                                                    <div class="reviews__author-text">Founder @ No Code Journalname</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-button-prev">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-prev"></use>
                                </svg>
                            </div>
                            <div class="swiper-button-next">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-next"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-subscription">
            <div class="container">
                <div class="row subscribe">
                    <div class="subscribe__description col-lg-5">
                        <h3 class="service-info__title text-white">Request free demo</h3>
                        <p class="text-white mb-4 mb-lg-0">Gain control, increase efficiency, reduce waste</p>
                    </div>

                    <div class="col-lg-7">
                        <form action="mailto:test29031993@gmail.com" method="post" class="subscribe__form">
                            <label class="form-row align-items-center">
                                <div class="col-lg-8 mb-3 mb-lg-0">
                                    <input type="email" class="form-control text-white" placeholder="Enter your email">
                                </div>
                                <div class="col-lg-4">
                                    <input type="button" class="btn btn-lg btn-light" value="Free Demo">
                                </div>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row footer-content">
                <div class="col-lg-4 footer-content__box">
                    <a href="/" class="logo d-inline-block mb-4">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo-black.svg') %>" alt="logo" title="logo">
                        </picture>
                    </a>

                    <p class="footer-content__text m-0">Gain control with HyperC by building predictive operational models, control financial performance, increase business
                        efficiency, and reduce waste.</p>
                </div>

                <div class="col-lg-4 footer-content__box">
                    <ul class="footer-content__nav">
                        <li><a href="#1">Technology</a></li>
                        <li><a href="#2">Why HyperC?</a></li>
                        <li><a href="#3">Contact us</a></li>
                        <li><a href="#4">User Portal</a></li>
                        <li><a href="#5">Privacy Policy</a></li>
                        <li><a href="#6">Terms</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 footer-content__box">
                    <p class="footer-content__text text-pre-line">CriticalHop Inc.
                        3000 El Camino Real, Building 4, Suite 200
                        Palo Alto, California, 94306, USA
                        <a href="tel:+16503889499">Tel: +1 (650) 388-9499</a>
                    </p>

                    <nav class="footer-content__social">
                        <a href="#soc-fb" class="footer-content__social-link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-facebook"></use>
                            </svg>
                        </a>

                        <a href="#soc-in" class="footer-content__social-link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-linked-in"></use>
                            </svg>
                        </a>

                        <a href="#soc-twit" class="footer-content__social-link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-twitter"></use>
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
        </div>

        <p class="copyright">Copyright HyperC All rights reserved 2021</p>
    </footer>
    <!-- FOOTER END -->
</div>

<button id="to-top"><svg><use xlink:href="img/spritemap.svg#sprite-next"></use></svg>to top</button>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
